
<Title:>

    CausalPath


<Head:>

    <meta name="viewport" content="width=device-width">
    <!--External style files-->
        <link href="lib/css/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="./lib/css/bootstrap.css" rel="stylesheet">
        <link href="lib/css/jquery.qtip.min.css" rel="stylesheet">
        <link href="./lib/css/w3.css" rel="stylesheet">
        <link href="./lib/css/cytoscape-context-menus.css" rel="stylesheet">

    <!--Style files-->
        <link href="./css/main.css" rel="stylesheet">



<Body:>

    <!--Cytoscape-related global variables-->
    <script src="./src/utilities/global-variables-functions.js"></script>

    <!--External libraries-->
    <script src="lib/js/jquery-1.8.2.js"></script>
    <script src="lib/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="lib/js/jquery.expander-min.js"></script>
    <script src="lib/js/jquery.qtip.js"></script>
    <script src="lib/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/underscore.js"></script>
    <script src="lib/js/cytoscape.js"></script>
    <script src="lib/js/cytoscape.js-qtip.js"></script>
    <script src="lib/js/backbone-min.js"></script>
    <script src="lib/js/jquery.highlighttextarea.js"></script>
    <script src="lib/js/FileSaver.js"></script>
    <script src="lib/js/jquery.noty.packaged.js"></script>
    <script src="lib/js/socket.io.js"></script>
    <script src="lib/js/cytoscape-cose-bilkent.js"></script>
    <script src="lib/js/cytoscape-context-menus.js"></script>

    <!--Source code-->
    <script src="./src/utilities/topology-grouping.js"></script>
    <script src="./src/utilities/causality-cy-renderer.js"></script>

    <!--Demo json object-->
    <script src="./demo/demoJson.js"></script>




    <!--Causality-related-->

    <div id = "banner" class = "custom-header">
        CausalPath: Causal Interactions from Proteomic Profiles
    </div>

    <div id = "info-div">

        CausalPath generates explanations to the observations in proteomic data using literature-curated mechanistic pathways. Please refer to <a href="https://www.biorxiv.org/content/early/2018/02/02/258855">this preprint</a> for a description of the method. A <a href="https://github.com/PathwayAndDataAnalysis/causalpath">Java implementation</a> of CausalPath is freely available. We also provide this web service for easy access to the method and/or visualizing analysis results.
        <p></p>
        For a CausalPath analysis, please prepare your input files according to the <a href="https://github.com/PathwayAndDataAnalysis/causalpath/blob/master/wiki/InputFormat.md">guidelines</a>. If you already have results, please visualize them by uploading the related .json file. The <a href="https://github.com/PathwayAndDataAnalysis/causalpath-webserver">source code of this web server</a> is freely available in a separate project.
        <p></p>
        Select one of the following options to start.
    </div>
    <div id  = "graph-options-container">
        <table align= "top" cellpadding="10px" >
            <tbody>
            <tr align = "center">
                <td>
                    <label for="back-button">
                    <i class="fa fa-arrow-circle-left"></i> Back
                    </label>

                    <div> <input type="button" id = "back-button" display = "none" value = "Back" on-click = "showInputContainer()"> </div>

                </td>

                <td class = "graph-options-td">
                    <input type="checkbox" id = "sif-topology-grouping" checked = "{{!_page.doc.noTopologyGrouping}}" on-change = "reloadGraph()">
                     Topology grouping</td>

                <td class = "graph-options-td">


                    <label for="run-layout-button">
                        <i class="fa fa-play-circle"></i> Run layout
                    </label>
                    <input type="button" id = "run-layout-button" value = "Run Layout" on-click = "runLayout()"> </td>



                <td>
                    <div id = "download-div">
                        <label for="download-button">
                            <i class="fa fa-download"></i> Download Input & Analysis Results
                        </label>
                        <div> <input type="button" id = "download-button"  value = "Download" on-click = "downloadResults()"> </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div id= "input-container">

            <table  class = "main-input-content" border="0"  width="100%" align="center" >
                <tbody>


                <tr>
                    <td>
                        <div data-toggle="tooltip" data-placement="bottom" title="Type-in the parameters">
                            <label for="parameters-button">
                                <div class = 'input-label'>
                                    A. Load data and enter parameters for analysis <i class="fa fa-tasks"></i> </div></label>
                            <input  type = "button" id = "parameters-button" onclick = "document.getElementById('parameters-table').style.display='block'">
                        </div>
                    </td>
                </tr>
                <tr>
                    <!--<td>-->
                        <!--B. Upload input files for analysis:-->
                        <!--</div>-->
                    <!--</td>-->
                    <td>
                        <div data-toggle="tooltip" data-placement="bottom" title="Enter multiple input files (data and parameters.txt files at the minimum) or a zip file of input files">

                        <label for="analysis-directory-input">
                            <div class = 'input-label'> B. Upload all input files for analysis <i class="fa fa-upload"></i></div>
                        </label>
                        <input type="file"  id="analysis-directory-input" accept=".txt, .zip"  on-change = "loadAnalysisDir()"  multiple >
                        </div>
                    </td>

                </tr>

                <tr align="left">

                    <!--<td>-->
                    <!--A. Upload json file for visualization:-->
                    <!--</td>-->
                    <td>
                        <div data-toggle="tooltip" data-placement="bottom" title="Load .json file">
                            <label for="graph-file-input">
                                <div class = 'input-label'> C. Visualize results from previous analysis  <i class="fa fa-upload"></i> </div>
                            </label>
                            <input type="file" id="graph-file-input" accept=".txt, .json" on-change = "loadGraphFile($event)">
                        </div>
                    </td>

                </tr>

                <tr>

                    <td>
                        <div data-toggle="tooltip" data-placement="bottom" title="A sample result network for Immunoreactive subtype of ovarian cancer compared to other subtypes">
                        <label for="demo-file-button">
                            <div class = 'input-label'> D. Display a sample result <i class="fa fa-play">  </i></div>
                        </label>
                        <input type="button" id="demo-file-button"  value = "Display" on-click = "loadDemoGraph()"  >
                        </div>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>



    <div id="parameters-table" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-modal-container parameters">
            <header class="w3-container custom-header"> <span onclick="document.getElementById('parameters-table').style.display='none'" class="w3-button w3-display-topright close-button">&times;</span>
                <h2>Parameters</h2> </header>
                <p></p>
                <table class = "parameter-content"><tbody>
                    {{each _page.doc.parameters as #parameter,  #i}}

                            {{each #parameter.cnt as #cnt}} <!--multiple number of the same parameter-->
                                {{if #parameter.isVisible === true}}
                                        <!--<span style = "display:{{#parameter.display}}; width:200px ;margin:5px;">-->

                                    <!--{{else}}-->
                                        <!--<span style = "display: none">-->
                                <tr>
                                <td data-toggle="tooltip" data-placement="right" title={{#parameter.Description}}>
                                    {{if #parameter.Mandatory }}
                                    {{#parameter.Title}} <span style ="color:red" >*</span>:
                                    {{else}}
                                    {{#parameter.Title}}:
                                    {{/if}}
                                </td>

                                {{each #parameter.EntryType as #type,  #entryInd}}
                                    <td>
                                        {{if  #type === 'File'}}
                                            <label for= {{#parameter.domId[#cnt][#entryInd]}} class = "fa fa-file-text-o parameters-input"> Select {{#parameter.value[#cnt][#entryInd]}} </label>
                                            <input type="file" id= {{#parameter.domId[#cnt][#entryInd]}} accept=".txt" on-change = "loadFile($event, #parameter, #cnt, #entryInd)">
                                        {{else if #type === 'Double'}}
                                            <input class = "parameters-input" id = {{#parameter.domId[#cnt][#entryInd]}} type = 'number' value = {{#parameter.value[#cnt][#entryInd]}}  step = 0.01 >

                                        {{else if #type === 'Integer'}}
                                            <input class = "parameters-input" id = {{#parameter.domId[#cnt][#entryInd]}} type = 'number' value = {{#parameter.value[#cnt][#entryInd]}} step = 1 >

                                        {{else if #type === 'String'}}
                                            <input class = "parameters-input" id = {{#parameter.domId[#cnt][#entryInd]}} type = 'text' value = {{#parameter.value[#cnt][#entryInd]}}  >

                                        {{else if #type === 'Boolean'}}
                                            <input class = "parameters-input" id = {{#parameter.domId[#cnt][#entryInd]}} type = 'checkbox' on-click = "updateChecked(#parameter, #cnt, #entryInd)">

                                        {{else}}
                                            <select id =  {{#parameter.domId[#cnt][#entryInd]}} class = "parameters-select" on-change = "updateSelected(#parameter, #cnt, #entryInd)" on-click = "unselectParameter(#parameter, #cnt , #entryInd)">
                                            {{each getEnum(#type) as #option}}
                                                <option name = {{#option}}>{{#option}}</option>
                                             {{/each}}
                                            </select>


                                        {{/if}}


                                        <!--{{if #parameter.CanBeMultiple && #entryInd === #parameter.EntryType.length-1 && #cnt === 0}}-->
                                        <!--<img src='img/add.png' on-click = "addParameterInput(#parameter)"/>-->
                                        <!--{{/if}}-->

                                    </td>



                                    {{if #parameter.CanBeMultiple && #entryInd === #parameter.EntryType.length-1 && #cnt === 0}}
                                    <td >
                                        <table class = "inner-table"> <tbody>
                                            <tr>
                                            <td>
                                            <img src='img/add.png' on-click = "addParameterInput(#parameter)"/>
                                            </td>
                                            <td>
                                            <button  on-click = "updateBatchBox(#parameter)" onclick = "document.getElementById('{{#parameter.batchModalDomId}}').style.display='block'">Batch</button>
                                            </td></tr>
                                        </tbody></table>

                                            <div id=  {{#parameter.batchModalDomId}}  class="w3-modal">
                                                <div class="w3-modal-content">
                                                    <div class="w3-modal-container parameters">
                                                        <header class="w3-container "> <span onclick="document.getElementById('{{#parameter.batchModalDomId}}').style.display='none'" class="w3-button w3-display-topright close-button">&times;</span>
                                                        *Separate multiple columns by space</header>
                                                        <p></p>

                                                        <textarea id =  {{#parameter.batchDomId}} rows = "30" cols = "100"></textarea>

                                                        <p></p>
                                                        <button on-click = "updateBatch(#parameter, #cnt)" onclick="document.getElementById('{{#parameter.batchModalDomId}}').style.display='none'">Submit</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    {{/if}}
                                {{/each}} <!--each entrytype-->

                                </tr>

                                <!--</span>-->
                    {{/if}} <!--isVisible-->
                            {{/each}} <!--each cnt-->

                    {{/each}} <!--each parameter-->
                </tbody></table>
                <table><tbody>
                    <tr>
                        <td><input type = "button" value = "Reset to default values" on-click = "resetToDefaultParameters()"></td>
                        <td><input type = "button" value = "Submit" on-click = "submitParameters()"></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>


    <div id = "graph-container">


    </div>


    <script>

            $(document).ready(function(){

                $('[data-toggle="tooltip"]').tooltip();



        });
    </script>







