body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

:root {
    --input-width: 80%;
    --graph-width:99%;
    --margin-width: 10px;
    --total-height: 90%;
    --margin-width-wide: 40px;

}

#banner{
    position: relative;
    height: 70px;
    /*width: 99%;*/
    /*width:var(--graph-width);*/
    /*width:  calc( var(--input-width) + var(--graph-width) + var(--margin-width));*/
    /*background-color: #7d7d80;*/
    margin:var(--margin-width);
    padding: 10px;
    overflow: hidden;
    text-align: center;
    font-size: xx-large;
    /*color:floralwhite;*/
}
.custom-header{
    background-color: #617d8a;
    color:floralwhite;
}

#info-div{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: justify;
}
a:link    {color: #0077f8; background-color:transparent; text-decoration:none}
a:visited {color:coral; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}




#graph-options-container{
    /*position:absolute;*/
    /*top: 60px;*/
    /*margin:10px;*/
    /*height: 10px;*/
    /*width:var(--graph-width);*/
    margin-left:10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    display:none;
    overflow:auto;
}
#graph-container{

    position: relative;
    /*top: 150px;*/
    border: 1px solid #ddd;
    display: none;

    height: 85vh;
    margin: var(--margin-width);

}



.input-label {

    width: 500px;
    font-size:larger; !important;
}

.input-text{

    font-size: small;
    align: left;
}

.tab-link{

    color: #444444;
}


/* Funda: don't forget to add this for fa file icons*/
input[type="file"] {
    display: none;
}

input[id = "back-button"]{
    display: none;
}


input[id = "back-button"]{
    display: none;
}

input[id = "demo-file-button"]{
    display: none;
}

input[id = "download-button"]{
    display: none;
}
input[id = "parameters-button"]{
    display: none;
}

input[id = "run-layout-button"]{
    display: none;
}



#input-container{

    position: relative;
    /*top: 10%;*/
    /*width: 50%;*/
    /*left:10%;*/
    /*height: 20%;*/
    /*width: var(--input-width);*/

    /*height: var(--total-height);*/
    margin-left: 5%; /*same as the padding-left of the info text */
    /*margin-top: 10px;*/

    color: #444444;
    /*background-color: #0B9BCD;*/

    /*font-size:x-large;*/
    font-family: Verdana;
}

/*One column of the initial input screen*/
.main-input-content td{
    /*border: 1px solid #ccc;*/
    /*display: inline-block;*/
    /*font-size: xx-large;*/
    /*padding: 6px 12px;*/
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #e9f8ff;*/
    /*color: floralwhite;*/
    color: #3a3a3a;
    border-radius: 25px;
    /*background: #e9f8ff;*/
    /*border: 2px solid #d6e5ec;*/
    /*border-color: #0e90d2;*/

    /*width:calc( var(--input-width)/2);*/
}

/*.main-input-content tr{*/
    /*border: 2px solid #d6e5ec;*/
    /*border-radius: 10px;*/

/*!*border-color: #0e90d2;*!*/
/*!*background: rgba(255,127,80, 0.3)*!*/
/*}*/


.main-input-content tr:nth-child(even)
{
    background: #98c1d9
    /*background: rgba(255,127,80, 0.3)*/
}
.main-input-content tr:nth-child(odd)
{
    /*background: rgba(21, 197, 223, 0.7)*/
    background: #e9f8ff
}

.fa-file-text{
    font-size: xx-large;
}

.fa-arrow-circle-left{
    /*padding-top: 10px;*/
    font-size: xx-large;
}

.fa-play-circle{
    font-size:xx-large;
}
#download-div .fa-download{
    font-size:xx-large;
}
#sif-topology-grouping{
    font-size:xx-large;
}

.graph-options-td{

    padding-left:20px;
    /*padding-top: 30px;*/
    font-size: inherit;
}

.main-input-content td:hover {
    /*background-color: rgb(2, 122, 180);*/
    background-color: coral;
    color: floralwhite;
    /*opacity: 0.2;*/
}

.instructions{
    color:floralwhite;
}

.input-buttons{
    font-size:medium;
}



/* Tooltip on right */
/*.tooltip.bottom > .tooltip-inner {*/
    /*border-right: 5px solid black;*/
    /*font-size: medium;*/
/*}*/


.tooltip {
    font-size:medium;
}


.parameters{
    padding: 20px;
    font-size:small;
    overflow-y: auto;

}
.close-button{
    color: #617d8a;
    font-size: larger;
    font-weight: bolder;
}
input[type="text"]{
    font-size: small;
}

.parameters-input{
    /*width: 100%;*/
}
.parameter-content{
    font-size: small;

}
.parameters-select{
    height:100%;
    /*width: 100px;*/
}

select, input, textarea, label{
    width: 200px; !important;
    margin: 5px !important;
   /*margin-top: 5px !important;*/
}


#batch-input{
    width: 500px;
}

.parameter-content tr td {
    border: 1px solid #ececec; !important;
    padding-top: 5px; !important;
    padding-bottom: 5px; !important;
    padding-left: 5px; !important;
    padding-right: 5px; !important;
}

.img-td{
    padding: 2px !important;
    width: 10px;
}

#pc-query-table{
    width:250px;
    height:20px;
    position: absolute;

}
/*table[class = "parameter-content"], tr, td {*/
    /*border: 1px solid black;*/
/*}*/